<html class="bg-dark" id="page-bg">
  <body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark">
      <div>
        <img
          src="../../../assets/logo-title-white.svg"
          alt="The cocktailDB"
          style="color: white; max-width: 20rem; padding: 1rem"
          [routerLink]="'/home'"
        />
      </div>
    </nav>
    <div style="margin-left: 5rem; width: 7rem; margin-top: 1rem">
      <h6 class="text-light">language:</h6>
      <select
        class="form-select bg-dark text-light"
        aria-label="Default select example "
        [(ngModel)]="lang"
      >
        <option
          *ngFor="let langs of instructionLanguages"
          value="{{ langs }}"
          class="text-light"
          [attr.selected]="langs == 'EN' ? true : null"
        >
          {{ langs }}
        </option>
      </select>
    </div>
    <div
      class="d-flex flex-row flex-wrap justify-content-between"
      style="margin: 0 5%"
    >
      <div style="margin: auto" *ngIf="drinkDetails != null">
        <div class="card m-2 bg-dark border-secondary">
          <div class="card-body">
            <h3 class="card-title text-light" style="margin: auto">
              {{ drinkDetails["strDrink"] }}
            </h3>
            <img
              src="{{ drinkDetails.strDrinkThumb }}"
              class="card-img"
              style="width: 50%"
            />
            <p class="card-text text-light">
              Category: {{ drinkDetails["strCategory"] }}
            </p>
            <h5 class="card-title text-light">Ingredients</h5>
            <div *ngFor="let ingredient of drinkDetails.ingredients">
              <button
                type="button"
                class="btn text-light"
                [routerLink]="'/ingredient/' + ingredient.name"
              >
                {{ ingredient.name }}: {{ ingredient.measure }}
              </button>
            </div>
            <h5 class="card-title text-light">Instructions:</h5>
            <p class="card-text text-light">
              {{ drinkDetails.instructions[lang] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
