<div
  id="{{ drink.idDrink }}"
  style="border-radius: 5px; margin: 0.4rem"
  class="list-group-item d-flex justify-content-between align-items-start"
  [class.list-group-item-primary]="drink.selected === true"
>
  <img *ngIf="drink.selected" src="{{ image.selected }}" style="width: 3rem" />
  <img
    *ngIf="!drink.selected"
    src="{{ image.unselected }}"
    style="width: 3rem"
  />
  <div class="ms-2 me-auto">
    <div class="fw-bold">{{ drink.strDrink }}</div>
    {{ drink.strGlass }}
  </div>
</div>
